<h3><p>Balance Seniors helps to you to maintain a healthy lifestyle.<br>
Training sessions are designed to improve cognitive function<br> and movement commonly affected by the ageing process.<br>
Balance Senior programme is designed for people 60+ and adapts<br>to different physical conditions.
</br></p></h3>


<div>
<%= image_tag "exercise", width:600, height:400%>
</div>
