<h1>Welcome to Balance Seniors</h1>

<h1><button type="button" onclick="gym_info_html.erb("")"><%=link_to "Gym Balance Info","/balance/gym_info"%></button></h1>

<h1><button type="button" onclick="classes_info_html.erb("")"><%=link_to "Classes","/balance/classes_info"%></button></h1>

<h1><button type="button" onclick="contact_info_html.erb("")"><%=link_to "Contact","/balance/contact_info"%></button></h1>

<%# link_to "edit", gym_info_path(@klasses)%>

<%# link_to "edit", gym_info_path(@klasses)%>

<div>
<%= image_tag "exercising.jpg", width:850, height:600%>
</div>
